$primary-button-color-blue: rgb(68, 155, 239);
$primary-button-color-gray: rgb(223, 223, 223);

$primary-button-color-red: rgb(197, 51, 32);
$primary-button-color-red-light: rgb(205, 108, 94);
$primary-button-color-red-dark: rgb(138, 57, 45);

$primary-border-color-gray: rgb(184, 184, 184);
$primary-border-color-gray-light: rgb(212, 212, 212);
$primary-icon-color-gray: rgb(122, 122, 123);
$primary-text-color-gray: rgb(93, 93, 93);
$primary-bg-color-gray-light: rgb(239, 239, 239);
$primary-bg-color-white: rgb(250, 250, 250);

$button-color-white : rgb(255,255,255);

$text-color-gray: rgb(90,90,90);


