.addCartBar{
  position: fixed;
  z-index: 15;
  height:9rem;
  width: 100%;
  left:0;
  bottom: 0;
  background-color: $primary-bg-color-gray-light;
  border-top: 1px solid $primary-border-color-gray;
  @include clearfix;

  &__left{
    float: left;
    display: block;


    &__namebox{
      display: inline-block;
      font-weight: bold;
      font-size:1.6rem;
      vertical-align: middle;
      margin: 3rem 3rem;

    }
    &__pic{
      display: none;
      &__img{

      }
    }
  }
  &__right{
    float: right;
    display: block;
    margin: 2rem 2rem;
    &__shipping{
      display: inline-block;
      font-size: 1.2rem;
      color: $primary-text-color-gray;
      &__icon{
        font-size: 2rem;
        color:$primary-icon-color-gray;
        transform: rotateY(180deg);
        padding-left: 1rem;
      }
    }
    &__price{
      display: inline-block;
      font-size: 2rem;
      font-weight: bold;
      letter-spacing: .1rem;
      padding: 0 1rem;
    }
    &__quantity{
      display: inline-block;
      width: 6rem;
      margin: 0 2rem;
      &--only{
        background-color: $primary-bg-color-gray-light;
        height:4rem;
        border-radius: 4px;
      }
    }
  }
  &__BtnBox{
    display: inline-block;
  }

}