@import "addcartbar";
@import "productPics";
@import "product_info";

.productFrame{
  display: table;
  width: 100%;
  margin: 1rem 0;
  &__left{
    display: table-cell;
    width: 65%;
    vertical-align: top;
  }
  &__right{
    vertical-align: top;
    display: table-cell;
    width:35%;
    padding-left: 2rem;
  }
}