.productPicFrame {
  display: table;
  width: 100%;
  @include respond(tablet-middle){
    display: block;

  }

  &__media__selectpic{
    display: none;
    width: 100%;

    @include respond(tablet-middle){
      display: block;
    }

    &__text{
      font-size: 1.5rem;
      color: $primary-text-color-gray;
      text-align:center;
    }
    &__points{
      margin: 1rem 0;
      text-align: center;

      &__dot{
        display: inline-block;
        margin: 0 .5rem;
        background: $primary-bg-color-gray-light;
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        cursor:pointer;
        &__selected{
          background: black;
        }
      }
    }
  }
  &__left {
    display: table-cell;
    vertical-align: top;
    width: 10%;
    @include respond(tablet-middle){
      display: none;
      width: 0%;
    }

    &__side {
      display: flex;
      flex-direction: row;
      justify-items: start;

      &__imgbox {
        margin: 0 1rem 1.8rem 0;


        &--selected {
          border: 2px solid blue;
        }

        &__img {
          width: 100%;
          overflow: hidden;
        }
      }
      &__more{
        background-color: black;
        margin: 0 1rem 1.8rem 0;
        font-size: 1rem;
        padding: .5rem .3rem;
        text-align: center;
        color: white;
      }
    }



  }

  &__right {
    display: table-cell;
    width: 90%;
    vertical-align: top;
    @include respond(tablet-middle){
      display: block;
      width: 100%;
    }
    &__main {
      width: 100%;
      padding: 0 0 1rem 1rem;
      min-width: 40rem;
      @include respond(tablet-middle){
        max-width: 75rem;
      }

      &__img {
        width: 100%;
        overflow: hidden;
      }

      &__dimensions{
        color: $primary-text-color-gray;
        font-size: 1.4rem;
        letter-spacing: .1rem;
        line-height: 1;
        text-align: center;
        & i{
          font-size: 1.6rem;

        }
      }
    }
  }

  &--fixed {
    position: fixed;
    top: 0;
    //width: 60%;
    background-color: white;
  }


}