
.calgaryMenu {
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: 1.5rem;
  border-right: rgb(190, 190, 190) 1px solid;
  border-bottom: rgb(190, 190, 190) 1px solid;
  position: relative;
  width: 100%;
  display: block;
  height: 9rem;
  padding: 1rem 1rem;
  @include clearfix;




  &--fixed{
    position: fixed;
    top:0;
    left:0;
    z-index: 9;
  }

  &__search {
    float:right;
    width: 5rem;
    height: 100%;
    font-size: 2.5rem;
    position:relative;

    @include respond(tablet){
      color: rgb(45, 43, 43);
      font-size: 2.5rem;
      width: 10rem;
      margin-right: 2.5rem;
    }
    @include respond(phone){
      width: 6rem;
      margin-right: .5rem;
    }
    &__icongroup{
      width: 100%;

      @include absCenter;
    }
    &__icon{

      @include respond(tablet){
        margin-right:2rem;
        display: inline-block;
      }
      @include respond(phone){
        margin-right: .2rem;
        font-size: 2rem;
      }

    }
  }
  &__Items{
    @include absCenter;
    display: block;


    @include respond(tablet){
      @include cancelCenter;
      //display: none;
      visibility: hidden;
      opacity: 0;
      position: fixed;
      top:0;
      left:0;
      height: 100%;
      width: 100%;
      background: rgba($primary-bg-color-gray-light,.8);
      z-index: 10;
      transition: transform .3s ease-in ;
    }

    &--show{
      visibility: visible;
      opacity: 1;

      & div{
        transform: translateX(100%);
      }
    }


    &__list{
      transition: transform .3s ease-in ;
      transform: none;


      @include respond(tablet){
        position: fixed;
        top:0;
        left:-50%;
        height:100%;
        width:50%;
        border:1px solid $primary-border-color-gray;
        background: $primary-bg-color-gray-light;
        box-shadow: 0 1rem 3rem rgba(black, .1);
        z-index: 11;
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__Item {

    padding: 3.5rem 0;
    height: 9rem;
    margin: 0 1rem;

    @include respond(tablet){
      width: 100%;
      font-size: 1.7rem;
      font-weight: bold;
      padding: 2.2rem 2rem;
      height: 7rem;
      margin: 0;
      background: white;
      border-bottom:1px solid $primary-border-color-gray !important;
      position: relative;
      &::after{
        content: "";
        position: absolute;
        top: 30%;
        left: 76%;
        display: inline-block;
        border-top: 2px solid;
        border-right: 2px solid;
        width: 1.2rem;
        height: 1.3rem;
        border-color: rgba($text-color-gray,.5);
        transform: rotate(45deg);
        margin: 1rem auto auto 1rem;
      }
    }


    &--selected {
      border-bottom-color: red !important;
      @include respond(tablet){
        border-bottom:1px solid $primary-border-color-gray !important;
      }
    }






  }
}

.logoBox {
  float:left;
  height: 100%;
  width: 8rem;
  position:relative;

  @include respond(tablet){
    float:none;
    display: block;
    position: relative;
    width: auto;
    height: auto;
    @include absCenter;
  }

}
.logo{
  @include absCenter;
  height: 4rem;
  width: 4rem;
  @include respond(tablet){
    display: inline-block;
    position: relative;

    top:auto;
    left:auto;
    transform: none;
  }
  @include respond(phone){
    width:3rem;
    height: 3rem;
  }
  &__img{
    width: 100%;
    @include respond(tablet){
      vertical-align: middle;
    }
  }
}
.mediaSrc{

  &__mainMenuIcon{
    display: none;
    position: relative;

    @include respond(tablet){
      float:left;
      display: block;
      width: 8rem;
      height: 100%;
      font-size: 3rem;
    }
    @include respond(phone){
      font-size: 2.5rem;
    }
    &--center{
      @include absCenter;
    }
  }
  &__CompanyName{
    display: none;
    @include respond(tablet){
      display: inline-block;
      color: red;
      font-size: 2rem;
      letter-spacing: .2rem;
      vertical-align: middle;
      margin-left:1.5rem;

    }
    @include respond(phone){
      font-size: 1.5rem;
      letter-spacing: .1rem;
    }
  }
  &__cartIcon{
    display: none;
    @include respond(tablet){
      display: inline-block;
      margin-left: 1rem;
    }
    @include respond(phone){
      font-size: 2rem;
    }
  }
}