

.sortBar {
  margin: 1rem 0 2rem 0;
  font-size: 1.5rem;
  word-spacing: .3rem;

  @include respond(tablet){
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1.5rem;
    border-bottom: rgb(177, 177, 177) 1px solid;
  }


  &__right {
    display: inline-flex;
  }
  &__left{

    @include respond(tablet){
      display: none;
    }
  }
  &__icon_group{
    display: inline-block;

    @include respond(tablet){
      display: none;
    }

  }
  &__icon--margin {
    margin-left: 2rem;
  }

  &__item {
    margin-right: 2rem;
  }

  &__gridIcon {
    margin-left: 1rem;
    display: inline-block;
  }
  &__tableIcon{
    cursor: pointer;
    border-collapse: collapse;
    border-radius: 2px;
    width: 1rem;
    height: 1rem;
    line-height: .55;
    & tr td{
      background: $primary-bg-color-gray-light;
      border: 1px solid white;
      border-radius: 2px;
    }
    &--selected{
      & tr td{
        background: black;
      }
    }
  }


}




.mediaSrc{

  &__toggle-mobile-filter{

    @include respond(tablet){
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border: black 1px solid;
      padding: 1rem 1rem;
      margin-bottom: 1rem;
      &:hover {
        cursor: pointer;
      }
      & i {
        transform: translateY(20%);
      }
    }
  }


  &__FilterDiv {
    display: none;
    @include respond(tablet) {
      display: block;
      width: 100%;
    }
  }
}

